<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <style>
    .form-signin {
      margin: 10px auto;
      width: 500px;
    }
  </style>
  <title><%= title %></title>
</head>

<body>
  <div id="logreg-forms">
    <form class="form-signin mt-5" method="POST">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
        Change Password
      </h1>
      <%let classU="alert-success"%> <% if(typeof message!=='undefined' &&
        message.length>0 ){%> <%if(String(message).indexOf("confirm") > -1 || String(message).indexOf("8") > -1){ classU
        ="alert-danger" }%>

      <div class="alert <%= classU %> alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= message %></strong>
      </div>
      <%}%>
        <p style="text-align:center"></p>
        <input
          type="password"
          class="form-control"
          placeholder="New password"
          required=""
          autofocus=""
          name="password"
        /><br />
        <input
          type="password"
          class="form-control"
          placeholder="Confirm password"
          required=""
          name="confirmpassword"
        /> <br>

        <button class="btn btn-success btn-block" type="submit">Change Password</button>

        <hr />
        <!-- <p>Don't have an account!</p>  -->
      </form>

      <br />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>